@import "react-toastify/dist/ReactToastify.css";

:root {
  --primary: #8234e9;
  --dark: #21232F;
  --danger: #d62828;
  --success: #06d6a0;
  --white: #F6F8FA;
}

#root {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: var(--white);
  font-family: "Ubuntu", serif;
}

header {
  background-color: var(--primary);
}

header>div:hover {
  background-color: rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

header>div {
  cursor: pointer;
  transition: 0.5s;
  padding: 10px 15px;
  text-align: right;
}

header span.mdi {
  font-size: 20px;
  margin-right: 10px;
}

aside {
  background-color: var(--dark);
}

aside ul {
  margin: 0;
  padding: 0;
}

aside ul li {
  list-style: none;
  width: 100%;
}

aside ul li a {
  width: 100%;
  list-style: none;
  color: #fff;
  opacity: 0.6;
  display: flex;
  align-items: center;
  padding: 5px 0;
  margin: 2.5px 0;
  transition: 0.5s;
  border-radius: 5px;
}

aside ul li a.active {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

aside ul li a.active .mdi {
  color: var(--primary);
}

aside ul li a:visited,
aside ul li a:focus {
  color: #fff;
  text-decoration: none !important;
}

aside ul li a:hover {
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
  color: #fff !important;
  opacity: 1;
}

aside ul li span.mdi {
  font-size: 25px;
  margin: 0 15px;
}

aside ul li text {
  font-size: 14px;
}

input.form-control {
  border: 2px solid #a4b1be33;
  border-radius: 8px;
  background-color: #FFF;
}

input.form-control:hover {
  border-color: var(--primary);
}

input.form-control:focus {
  border-color: var(--primary);
  box-shadow: none;
  outline: none;
  color: #707274;
}

label.form-label {
  color: #707274;
  font-size: 0.9rem;
  font-weight: 400;
}

.custom-link {
  color: var(--primary);
  font-size: .8rem;
  font-weight: 400;
  text-decoration: underline;
}

.custom-link:hover {
  color: var(--primary);
  font-size: .8rem;
  font-weight: 400;
  text-decoration: underline;
}


footer small a {
  color: #707274;
  font-size: .8rem;
}

footer small a:hover {
  color: #707274;
}