@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 210 14% 17%;
    --card: 0 0% 96%;
    --card-foreground: 210 14% 17%;
    --popover: 0 0% 96%;
    --popover-foreground: 210 14% 17%;
    --primary: 39 97% 60%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14% 95%;
    --secondary-foreground: 220 39% 11%;
    --muted: 220 14% 95%;
    --muted-foreground: 220 8% 46%;
    --accent: 220 14% 95%;
    --accent-foreground: 220 39% 11%;
    --destructive: 0 84% 53%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 39 97% 60%;
    --radius: 0.5rem;
    --chart-1: 220 70% 50%;
    --chart-5: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-2: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: "Ubuntu", serif;
  }
}