@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 210 14% 17%;
    --card: 0 0% 96%;
    --card-foreground: 210 14% 17%;
    --popover: 0 0% 96%;
    --popover-foreground: 210 14% 17%;
    --primary: 262 83% 57%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14% 95%;
    --secondary-foreground: 220 39% 11%;
    --muted: 220 14% 95%;
    --muted-foreground: 220 8% 46%;
    --accent: 220 14% 95%;
    --accent-foreground: 220 39% 11%;
    --destructive: 0 84% 53%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262 83% 57%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

body,
html {
  font-family: "Ubuntu", serif;
}