@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: aliceblue;
  width: 100%;
  height: 100vh;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-left {
  animation: slide-in-left 2s ease-out;
}
